parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
    ignoreErrors:
        - '#Parameter \$.+ of method .+ has invalid typehint type.+#'
        - '#Return typehint of method .+ has invalid type.+#'
        - '#.+Transfer.+#'
        - '#Call to method.+on an unknown class.+AutoCompletion#'
