parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
    ignoreErrors:
        - '#Parameter \$.+ of method .+ has invalid typehint type.+#'
        - '#Return typehint of method .+ has invalid type.+#'
        - '#Call to method.+on an unknown class.+AutoCompletion#'
        - '#Call to method .+ on an unknown class Generated\\Shared\\Transfer\\.+#'
        - '#Instantiated class Generated\\Shared\\Transfer\\.+ not found.#'
        - '#PHPDoc tag @var for variable .+ contains unknown class Generated\\Shared\\Transfer\\.+#'
        - '#Parameter .+ expects .+ Generated\\Shared\\Transfer\\.+ given.#'
